body{
    background-color: rgb(194, 207, 182);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.header{
    position:absolute;
    left: 0; right: 0;
    top:0px;
    background-color:  rgb(250, 235, 215, 40%) ;
    padding: 2rem;
}

.container{
    position:inherit;
    grid-template-columns: repeat(auto-fit,minmax(250px, 2fr));
    max-width: 1100px;
    margin: 100px auto;
    
}

.item {
    border-radius: 15px 5px 5px 5px ;
    border: 2px;
    background: #efcb9c;
    border-style: solid  ;
    border-color: #efcb9c;
    padding: 1rem;
    text-align: center;
}

.item-grid {
    display: grid;
   
    gap: 5px;

}

/* img{
    width: 100%;
     border-radius: 15px 5px 5px 5px;
  
    
} */


.footer{
    bottom: 0px;
    padding: 2rem;
}

/* @media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}  */

/* QfmR-Ftvh-bzYs-YWto */

